.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .login-form {
      padding: 20px;
      width: 100%;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .form-group {
        margin-bottom: 30px;
        text-align: left;
  
        label {
          display: block;
          margin-bottom: 2px;
          font-weight: normal;
          font-size: 32px;
        }
  
        input {
          width: 500px;
          height: 100px;
          border: 2px solid black;
          border-radius: 8px;
          font-size: 50px;
          margin-top: 5px;
        }
      }
  
      .action-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
  
        .back-button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 18px;
  
          &:hover {
            color: #007bff;
          }
        }
  
        button {
          padding: 10px 20px;
          background-color: #8a2be2;
          color: white;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #6a1bbd;
          }
        }
      }
    }
  }
  