form {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  div {
    width: 100%;
  }
  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 2rem;
  }
}

.login {
  height: calc(100vh - (7rem));
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  background: #7763C5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, cursor 0.3s;
  margin-top: 2rem;
  width: 60%;
  height: 2rem;
}

button[type="submit"]:hover {
  background-color: #5d4aac;
}

button.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 60px;
  margin-left: 3rem;
}

div.top {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  button {
    text-align: left;
  }
}

@media only screen and (max-width: 420px) and (orientation: portrait) {
  form {
    max-width: 90%;
  }

  label {
    font-size: 12px;
  }

  input {
    font-size: 14px;
    width: 93% !important;
  }

  div.top {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
    }
    button {
      text-align: left;
      margin-left: 0;
    }
  }
}
