<app-header></app-header>
<div class="conteiner">
  <div class="top">
    <button class="back-button" (click)="routerHome()">←</button>
    <h2>Inscription</h2>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- Champs de formulaire avec formControlName -->
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email">
    </div>

    <div>
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username">
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>

    <!-- Bouton de soumission -->
    <button type="submit">Submit</button>
  </form>
</div>